#title {

    background: linear-gradient(90deg, #CAB8FF 50%, #B5DEFF 50%);
}

@font-face {
    font-family: "Mukta-Bold";
    src: url(./assets/Mukta-Bold.ttf);
}

@font-face {
    font-family: "Mukta-Regular";
    src: url(./assets/Mukta-Regular.ttf);
}

.navbar-collapse {
    margin: 3% 1.5%;
}

.navbar-nav.navbar-item a {
    color: black !important;
}

.navbar-brand {
    font-size: 4rem;
    font-family: "Mukta-Bold";
}

.nav-item {
    font-family: "Mukta-Bold";
    font-size: 1.3rem;
}

.nike {
    width: 10%;
    margin-left: 20%;
    margin-right: 40%;
}

.adidas {
    width: 7%;
}

.converse {
    width: 15%;
    margin-top: 6%;
    margin-left: 18%;
    margin-right: 36%;
}

.vans {
    width: 10%;
    margin-top: 6%;
}


.sliderImages {
    width: 30%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    margin: 10% 33%;
}

.carousel-item {
    transition: transform 2.6s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity 0s 2.6s;
}

#downloadSection h3 {
    font-size: 3.5rem;
    font-family: "Mukta-Bold";
    text-align: center;
}

.container-fluid {
    padding: 7% 15%;
}

button {
    margin: 7% 19%;
}

footer {
    text-align: center;
}

.social-icons {
    margin: 20px 10px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23A03C78' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23A03C78' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}